body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

div{
    width: 500px;
    height: auto;
    margin: 16px auto;
    text-align: center;
    background-color: lightcoral;
    padding: 48px 12px;
    color: white;
    font-size: 32px;
}

ul li{
    padding: 16px;
}

img{
    width: 360px;
    height: auto;
}